.header {
  margin-bottom: 20px;
  background: rgb(82, 54, 94);
  background: linear-gradient(
    263deg,
    rgb(189, 114, 250) 30%,
    rgb(124, 126, 124) 100%
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: rgb(17, 15, 15);
  font-size: 18px;
}

.link:hover {
  transform: scale(1.2);
}

.active {
  composes: link;
  color: rgb(189, 114, 250);
}
