.div {
  margin: 0 auto;
  display: block;
  margin-top: 150px;
  width: 400px;
  height: 140px;
  background-color: rgb(231, 224, 224);
  border-radius: 5px;
  padding: 15px 15px;
}

.backdrop {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(10, 10, 10, 0.86);
}

.btnYes {
  font-size: 15px;
  padding: 5px 7px;
  margin-right: 20px;
  border-radius: 7px;
}

.btnYes:hover {
  background-color: rgb(182, 80, 202);
  transform: scale(1.2);
}

.btnNo {
  padding: 5px 7px;
  margin-left: auto;
  font-size: 15px;
  border-radius: 7px;
}

.btnNo:hover {
  transform: scale(1.2);
  background-color: rgb(145, 255, 71);
}
