.div {
  margin: 0 auto;
  display: block;
  margin-top: 150px;
  width: 600px;
  background-color: rgb(231, 224, 224);
  border-radius: 5px;
  padding: 15px 15px;
}

.backdrop {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(10, 10, 10, 0.86);
}

.btnYes {
  font-size: 15px;
  padding: 5px 7px;
  margin-right: 20px;
  border-radius: 7px;
}

.btnYes:hover {
  transform: scale(1.2);
  background-color: rgb(182, 53, 207);
}

.btnNo {
  padding: 5px 7px;
  font-size: 15px;
  border-radius: 7px;
}

.btnNo:hover {
  transform: scale(1.2);
  background-color: rgb(255, 38, 0);
}

.form {
  border: 2px solid grey;
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  margin: 0 auto;
}

.contactName {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.containerqwe {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
